<h1>¿Qué es memocity?</h1>
<br/>
<p>
  Es la forma más practica de recordar, sin la necesidad de usar plan de datos,
  molestas aplicaciones o la histórica libreta de bolsillo. Escribe lo que quieres
  recordar y nosotros nos encargamos de llamarte para que no se te olvide.
</p>

<h3>Usos prácticos</h3>
<ul>
  <li>Recordar pagar las cuentas</li>
  <li>Realizar compra de última hora</li>
  <li>Agendar reunión</li>
  <li>Recordar aquello que no quieres hacer</li>
</ul>
<br>
<h2>Pasos para crear un memocity</h2>
<p>1. Ingresa el número de teléfono</p>
<p>2. Escribe lo que quieres recordar</p>
<p>3. Elige la fecha y hora</p>
<p>4. Espera el llamado</p>
<p>5. Repite!</p>

<br>
<%= link_to 'Crea el tuyo', new_memocity_path, class: "btn btn-danger" %>
<a href="http://goo.gl/forms/t17Rer4Dql", class="btn btn-success">Escribe una reseña</a>
