<p id="notice"><%= notice %></p>

<br/><br/>
<h2>¿Qué es memocity?</h2>
<br/>
<p>Entender qué ofrecemos es fácil, sólo deja de usar tus notas adhesivas y  aplicaciones de recordatorio y comenzarás a hacer realmente un uso de tu celular y de gastar tu plan de datos.
</p>
<p> Te preguntamos lo siguiente: ¿Cuantas veces al día omites los recordatorios que te envía el celular?, ¿llevas tus notas adhesivas a todos lados?.
</p>
<p> Escribe tu nota o recordatorio en la aplicación web, ingresa la información necesaria, crea el memo y espera que te llegue el llamado a tu celular recordandotelo. Así tal cual, fácil.
</p>
<p> Dejar de malgastar papeles y tu plan de datos, nosotros hacemos el trabajo de avisarte.
</p>
<br/>

<%= link_to 'Crea tu Memocity', new_memocity_path %>
