@import "bootstrap-sprockets";
@import "bootstrap";


@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");


body {
  padding-top: 60px;
}

.navbar-brand {
  float: left;
  font-family: 'Pacifico', cursive;
  padding: 12px 12px;
  padding-left: 45%;
  font-size: 30px;
  line-height: 21px;
  height: 45px;
}

.section-heading {
  margin-bottom: 30px
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Bree Serif', serif;
  font-weight: 400;


}

section {
  overflow: auto;
}


p, ul, ol,li {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
}

textarea {
  resize: vertical;
  width: 300px;
  height: 150px;
}


.content-section-a {
  padding: 50px 0;
}

.content-section-b {
  padding: 50px 0;
}

.lead {
  font-size: 18px;
  font-weight: 400
}
